.about-container{
    padding: 80px 10%;
    min-height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

.about-header h1{
    font-size: 2.5rem;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.about-content{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.image-container img{
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.about-text{
    flex: 1;
}

.about-text h3{
    font-size: 1.8rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

.about-text p{
    line-height: 1.8;
    font-size: 1.1rem;;
}

.icon-column{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-column a{
    color: black;
    font-size: 2rem;
    display: flex;
}