.home-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    box-sizing: border-box;
}

.home-container h3{
    margin-bottom: 0px;
    font-size: 2rem;
}

.home-container h1{
    font-size: 4.5rem;
    margin: 0 0;
    text-transform: uppercase;
}

.home-container p{
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.home-container button{
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
