body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

.nav-bar h2{
    margin: 0;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
}